<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iSnapNuke</string>
	<key>CFBundleExecutable</key>
	<string>iSnapNuke</string>
	<key>CFBundleIconFile</key>
	<string>iSnapNuke.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.xuanci.isnapnuke</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleName</key>
	<string>iSnapNuke</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/League2EB/iSnapNuke/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string></string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>iSnapNukeUpdatePolicyPublicKey</key>
	<string></string>
	<key>iSnapNukeUpdatePolicyURL</key>
	<string>https://raw.githubusercontent.com/League2EB/iSnapNuke/main/update-policy.json</string>
</dict>
</plist>
